@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { @apply bg-navy-50 text-navy-900 antialiased; }
}

@media print {
  body * { visibility: hidden; }
  .document-preview, .document-preview * { visibility: visible; }
  .document-preview { position: absolute; left: 0; top: 0; width: 100%; }
}
